<!--Patient List-->
<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
<h4 *ngIf="!patients || patients.length<=0" text-center>No patients available to Select</h4>
<ion-list *ngIf="patients && patients.length>0">
    <ion-item *ngFor="let item of patients" (click)="patientSelect(item)">
        <ion-label>
            <h2>{{ item.name }}</h2>
            <h3>Key : {{item.key}}</h3>
            <h3>Mobile : {{item.mobile}}</h3>
            <h3>Gender : {{item.gender}}</h3>
            <h3>Age : {{item.age}}</h3>
        </ion-label>
    </ion-item>
</ion-list>
<!--Patient List-->
