<ion-tabs>

  <ion-tab tab="patient-details">
    <ion-router-outlet name="patient-details"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="about">
    <ion-router-outlet name="about"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="contact">
    <ion-router-outlet name="contact"></ion-router-outlet>
  </ion-tab>

  <ion-tab-bar slot="bottom">

    <ion-tab-button href="/orders/(patient-details:patient-details)" tab="patient-details">
      <ion-icon name="person-add"></ion-icon>
      <ion-label>Patient</ion-label>
    </ion-tab-button>

    <ion-tab-button href="/orders/(about:about)" tab="about">
      <ion-icon name="list-box"></ion-icon>
      <ion-label>Tests</ion-label>
    </ion-tab-button>

    <ion-tab-button href="/orders/(contact:contact)" tab="contact">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Payment</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
