<ion-header>
    <ion-toolbar>
        <ion-title *ngIf="currentPageState==pageState.list">Patient Selection</ion-title>
        <ion-title *ngIf="currentPageState==pageState.details">Selected Patient Details</ion-title>
        <ion-title *ngIf="currentPageState==pageState.edit">Edit Patient Details</ion-title>
        <ion-title *ngIf="currentPageState==pageState.add">Add New Patient</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <app-patient-list *ngIf="currentPageState==pageState.list"
                      (select)="showPatientInfo($event)"></app-patient-list>

    <app-patient-details *ngIf="currentPageState==pageState.details"
                         [patientDetails]="patientDetails"
                         (delete)="deletePatient($event)"
                         (edit)="editPatient($event)"
                         (change)="changePatient($event)"></app-patient-details>

    <app-patient-form *ngIf="currentPageState==pageState.edit || currentPageState==pageState.add"
                      [patientDetails]="patientDetails"
                      (cancel)="cancelPatientInfo($event)"
                      (save)="savePatientInfo($event)"></app-patient-form>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="currentPageState==pageState.list">
        <ion-fab-button (click)="addPatient()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
