<ion-header>
    <ion-toolbar>
        <ion-title>Patient Selection</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <app-patient-list *ngIf="currentPageState==pageState.list"
                      (select)="showPatientInfo($event)"></app-patient-list>

    <app-patient-details *ngIf="currentPageState==pageState.details"
                         [patientDetails]="patientDetails"
                         (delete)="deletePatient($event)"
                         (edit)="editPatient($event)"
                         (change)="changePatient($event)"></app-patient-details>

    <app-patient-form *ngIf="currentPageState==pageState.edit"
                      [patientDetails]="patientDetails"
                      (cancel)="showPatientInfo(patientDetails)"
                      (save)="showPatientInfo(patientDetails)"></app-patient-form>

</ion-content>
