.login-page {
  .logo {
    width: 140px;
    height: 140px;
    text-align: center;
  }

  ion-grid {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    margin-top: -109px;
  }
}
